#Android generated
bin
gen
obj

#Eclipse
#.project
#.classpath
.settings

#IntelliJ IDEA
.idea/workspace.xml
.idea/tasks.xml
.idea/misc.xml
.idea/copyright/profiles_settings.xml
*.ipr
*.iws
*.iml
out/

#Checkstyle
.checkstyle

#Maven
target
release.properties
pom.xml.*

#Ant
build.xml
local.properties
proguard.cfg

#OSX
build/*
.gradle/*
.idea/*
.DS_Store

legy-android/build/*
legy-android/ext/
WeiboSDK/build/*
STMobileAPI/build/*
.externalNativeBuild

